@import "tailwindcss";

:root {
  --background: transparent;
  
  /* --foreground: #171717;  */
  --secondary: #e42626;
  --primary: #595858;
  /* --tertiary: #d4d4d4; */
    --tertiary: #000000;
  --text-largest: 2.875rem;
  --text-large: 2.875rem;
  --text-small: 1.125rem;
}
@media (max-width: 768px) {
  :root {
    --text-largest: 1.5rem;
    --text-large: 0.75rem;
    --text-small: 0.75rem;
  }
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--primary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-logogradient: linear-gradient(90deg, #e42626 0%, #f8bbd0 100%);

  --font-readex-pro: var(--font-readex-pro);

  --text-largest: var(--text-largest);
  --text-large: var(--text-large);
  --text-medium: var(--text-medium);
  --text-small: var(--text-small);
  --text-smallest: var(--text-smallest);
}

body {
  background: var(--tertiary);
  color: var(--primary);
  line-height: 1.25;
}

html,
body {
  height: 100%;
  font-family: var(--font-readex-pro);

  overflow: hidden;
}
a,
button,
[role="button"],
input[type="submit"],
input[type="button"],
label,
select {
  cursor: url("/cursor2.png") 8 8, auto !important;
}
