@import "tailwindcss";
 
:root {
  --background: transparent;
  /* --foreground: #171717;  */
  --font-helvetica: 'Helvetica', 'Arial', 'sans-serif';
  --secondary: #E42626;
  --primary: #040405;
  --tertiary: #FAFAFC;

}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--primary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-helvetica: var(--font-helvetica)
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-largest: 5.0625rem;
  --text-large: 4.25rem;
  --text-medium: 3.25rem;
  --text-small: 1.25rem;
  --text-smallest: 1.125rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; 
    --foreground: #ededed;
    --primary: #D9D9D9;
    --secondary: #595858;
    --tertiary: #FAFAFC;
  }
} */

body {
  /* background:url('/bgGradient.png'); */
  background: var(--tertiary);
  color: var(--primary);
  font-family: var(--font-helvetica);
  line-height: 1.25;
}
